<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zut.dao.MenuMapper">
    <select id="findSubMenuListByPid" parameterType="int" resultMap="MenuResult">
        select * from menu where parent_id = #{pid}
    </select>

    <resultMap id="MenuResult" type="com.zut.domain.Menu">
        <id column="id" property="id"></id>
        <result column="href" property="href"></result>
        <result column="icon" property="icon"></result>
        <result column="name" property="name"></result>
        <result column="parent_id" property="parentId"></result>
        <result column="description" property="description"></result>
        <result column="orderNum" property="order_num"></result>
        <result column="shown" property="shown"></result>
        <result column="created_time" property="createdTime"></result>
        <result column="updated_time" property="updatedTime"></result>
        <result column="created_by" property="createdBy"></result>
        <result column="updated_by" property="updatedBy"></result>
        <collection property="subMenuList" ofType="com.zut.domain.Menu"
                    select="findSubMenuListByPid" column="id" ></collection>
    </resultMap>


    <select id="findAllMenu" resultType="com.zut.domain.Menu">
        SELECT
          id,
          parent_id,
          href,
          icon,
          NAME,
          description,
          order_num,
          shown,
          LEVEL,
          created_time,
          updated_time,
          created_by,
          updated_by
        FROM menu
    </select>

    <select id="findMenuById" parameterType="int" resultType="com.zut.domain.Menu">
        SELECT
          id,
          parent_id,
          href,
          icon,
          NAME,
          description,
          order_num,
          shown,
          LEVEL,
          created_time,
          updated_time,
          created_by,
          updated_by
        FROM menu
        where id = #{id}
    </select>
</mapper>